<!DOCTYPE html>
<html>
  <body>
    <h1>Olá, {{name}}!</h1>
    <p>Seja bem-vindo ao nosso sistema.</p>
    <p>para confirmação no seu App digite o código de confirmação {{code}}</p>
  </body>
</html>