<!DOCTYPE html>
<html>
  <body>
    <h1>Olá, {{name}}!</h1>
    <p>Seu Email principal foi alterado</p>
    <p>Para confirmação no seu App digite o código de confirmação {{code}}</p>
  </body>
</html>